# MySQL
DB_ROOT_PASSWORD=your_root_password_here
DB_NAME=realtime_db
DB_USER=realtime_user
DB_PASSWORD=your_password_here

# MinIO
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin123

# Redis
REDIS_PASSWORD=redis1234

# Youtube API
YOUTUBE_API_KEY=

# Application Configuration
SPRING_PROFILES_ACTIVE=local